<div class="jumbotron text-center">
  <h1>
    Avaliation Project
  </h1>
</div>

<div class="container">
  <form [formGroup]="handwritingOptions">
    <div class="row">
      <div class="col-sm-6">
        <mat-form-field> 
          <mat-select placeholder="Handwriting Font" formControlName="handwriting"> <!-- Font select aka combobox -->
            <mat-option *ngFor="let item of handwritingStylesList" [value]="item.id"> <!-- Font select items -->
              {{item.title}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field> 
          <input matInput type="number" placeholder="Font size (px)" formControlName="fontSize" min="0" max="9000"> <!-- Font size input -->
          <mat-error *ngIf="handwritingOptions.get('fontSize')?.invalid">Font size range: 0px to 9000px</mat-error> <!-- Error message -->
        </mat-form-field>
      
        <mat-form-field> 
          <input matInput type="color" placeholder="Color" formControlName="color"> <!-- Color input -->
        </mat-form-field>

        <mat-form-field> 
          <textarea matInput placeholder="Text to write" formControlName="text"></textarea> <!-- Text input -->
        </mat-form-field>

        <button mat-button (click)='generateImage()'>Generate Image</button> <!-- Generate Image Button -->
      </div>

      <div class="col-sm-6">
        <img [src]="imageSource" *ngIf="imageSource; else noImageFound"> <!-- If imageSource has content, it will show this image -->
      </div>

      <ng-template #noImageFound>
          <img src=""> <!-- ELSE it will not show any image -->
     </ng-template>
    </div>
  </form>
</div>

 